<!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top width-md">
  <a href="/" class="navbar-brand pl-2">HydroIQ Tasks Manager</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Create Task</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link">Login</a>
    </div>
  </div>
</nav> -->
<nav
  class="navbar navbar-expand-md navbar-light fixed-top mx-12"
  style="background-color: aquamarine"
>
  <a href="#" class="navbar-brand">
    <img src="favicon.ico" height="28" alt="Logo" /> HydroIQ
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Create Task</a>
      <a href="#" class="nav-item nav-link">Create User</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link">Login</a>
    </div>
  </div>
</nav>
